@model ExerciseForLearningWords.CommonViewModels.Models.ShowHideRandomExerciseView
@{
    ViewData["Title"] = "ShowHideRandomExercise";
}

<div class="row">
    <div class="col-md-4" style="border: 1px dashed red">
        @foreach (var a in Model.WordsList)
        {
            <form asp-controller="ExerciseForLearning" asp-action="SelectWordsPairs" method="post">
                <div class="row list-of-WordsList-element">
                    @Html.Hidden("Id", a.Id)
                    <div class="col-md-6"><p>@a.Name</p></div>
                    @Html.Hidden("Name", a.Name)
                    <div class="col-md-3"><p>@a.QuantityWords</p></div>
                    @Html.Hidden("QuantityWords", a.QuantityWords)
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success">Select</button>
                    </div>
                </div>
            </form>

        }
    </div>
    <button type="submit" class="btn btn-success test_1">test_1</button>
    <button type="submit" class="btn btn-success test_2">test_2</button>
    <div class="col-md-8">
        @if (Model.WordsAndTranslationPairs != null)
        {
            @foreach (var a in Model.WordsAndTranslationPairs)
            {
                <div class="row">
                    <div class="col-md-6 test_div_1">
                        <br />
                        <p>@a.Word</p>
                        <br />
                
                    </div>
                    <div class="col-md-6 test_div_2">
                        <br />
                        <p>@a.Translation</p>
                        <br />
                    </div>
                </div>

            }
         }
    </div>
</div>

